@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: rgb(10,01,98);
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: rgb(10,01,98);
}
h3{
    font-size: 38px;
    color: rgb(10,01,98);
}
h4{
    font-size: 32px;
    color: rgb(10,01,98);
}
h5{
    font-size: 28px ;
}
h6{
    font-weight: 700;
    font-size: 18px;
}
p{
    font-size: 16px;
    color: rgb(0,0,0);
}
.section-p1{
    padding: 40px 80px;
}
.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #1a1a1a;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border:none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border:1px solid #fff;
    outline: none;
    transition: 0.2s;}
    

    
body{
    width: 100%;
}
/*navbar*/
#header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 20px 80px;
    background: lightblue;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(10,01,98);
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #810875;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #810875;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/*home page*/
#hero{
    background-image: url('img/icon4.png');
    height: 90vh;
    width: 100%;
    background-position: top 56% right 0%;
    max-zoom: 100%;
    background-size: cover;
    padding: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #810875;
}
#hero p{
    color: rgb(10,01,98);
    font-size: 25px;
    font-weight: bold;
}
#hero button{
    background-image: url('img/button.png');
    background-color: transparent;
    color: #810875;
    border: 0;
    padding: 10px 15px 5px 15px;
    border-radius: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 23px;
    
}
.clg{
    padding: 10px 15px 5px 15px;
    padding-left: 45px;
    padding-bottom: 150px;
    width:45%;

    border-radius: 20px;
}
/*features*/
#feature .fe-box{
     width: 180px;
     text-align: center;
     padding: 25px 15px;
     box-shadow: 20px 20px 34px rgba(0,0,0,0.3);
     border: 1px solid bisque;
     border-radius: 4px;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(0,0,0,0.1);
    transition: 0.7s ease;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
   
}
#feature
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
#product1{
    text-align: center;
}
#product1 .procontainer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding:10px 12px;
    border: 1px solid  #cdd4f8;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.01);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro :hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.03);
}
#product1 .pro img{
    width:100%;
    border-radius: 20px;
}
#product1 .pro .des{
text-align: start;
padding: 10px 0px;
}
#product1 .pro .des span{
    columns: #606063;
    font-size: 12px;
}
#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#product1 .pro .des i{
    color: rgb(243,181,25);
}
#product1 .pro .des h4{
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:  #cdd4f8;
    font-weight: 500;
    color: rgb(10,01,98);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('img/b2.jpg');
    width:100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 16px;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;    
}
#banner h2 span{
    color:#ef3636;
}
#banner button:hover{
    background:  #088178;
    color: #fff;
  
}
#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/p2.jpg");
    min-width:580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    background-image: url("img/b10.jpg");

}
#sm-banner h4{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}
#sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
    cursor: pointer;
}
#banner3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
    
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/b7.jpg");
    min-width:30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
margin-bottom: 20px;}
#banner3 .banner-box2{
    background-image: url("img/b4.jpg");
}
#banner3 .banner-box3{
    background-image: url("img/b18.jpg");
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
#Newsletter{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
background-image: url("img/b14.png");
background-repeat: no-repeat;
background-position: 20% 30%;
background-color: #041e42;
}
#Newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;

}
#Newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;   
}

#Newsletter p span{ 
    color: #ffbd27;    
}
#Newsletter .form{
    display: flex;
    width: 40%;
    }
#Newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#Newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;}
    footer .logo{
        margin-bottom: 30px;
    }
    footer h4{
        font-size: 14px;
        padding-bottom: 20px;
    }
    footer p{
        font-size: 13px;
        margin: 0 0 8px 0;
    }
    footer a{
        font-size: 13px;
        text-decoration: none;
        color: #222;
        margin-bottom: 10px;
    }
    footer .Follow{
        margin-top: 20px;
    }
    footer .Follow i{
        color: #465b52;
        padding-right: 4px;
        cursor: pointer;
    }
    footer .install .row img{
        border: 1px solid rgb(10,01,98);
        border-radius: 6px;

    }
    footer .install img{
        margin: 10px 0 15px 0;
    }
    footer .Follow i:hover,
    footer a:hover{
        color: rgb(10,01,98);
        font-weight: 600;
    }
    footer .copyright p{
        width: 100%;
        text-align: center;
    }
    #pageheader{
        background-image: url("img/b1.jpg");
        width: 100%;
        height: 40vh;
        background-size: cover;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 14px;
    }
    #pageheader h2,
    #pageheader p{
        color: #fff;    
    }

    #pagination{
        text-align: center;  
    }
    #pagination a{
        text-decoration: none;
        background-color: rgb(10,01,98);
        padding: 15px 20px;
        border-radius: 4px;
        color: #fff;
        font-weight: 600;
    }
    #pagination a i{
        font-size: 16px;
        font-weight: 600;
    }
    #prodetails{
        display: flex;
        margin-top: 20px;
    }
 
 #prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
 }
 .smallImgGrp{
    display: flex;
    justify-content: space-between;
 }
.smallImgCOl{
    flex-basis: 24%;
    cursor: pointer;
}
#prodetails .singleProdet{
    width: 50%;
    padding: 30px;
}
#prodetails .singleProdet h4{
    padding: 40px 0 20px 0;
}
#prodetails .singleProdet h2{
    font-size: 26px;
}
#prodetails .singleProdet select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}
#prodetails .singleProdet input
{
    width: 50px;
    height: 47px;
    padding-left:10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .singleProdet button{
    background-color: rgb(10,01,98);
    color: #fff;
}
#prodetails .singleProdet input :focus{
    outline: none;
}
#prodetails .singleProdet span{
    line-height: 25px;
}
#pageheader1  {
background-image: url("img/b19.jpg");
width: 100%;
height: 40vh;
background-size: cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
}
#pageheader1 h2,
#pageheader1 p{
    color: #fff;
}
#blog{
    padding: 150px 150px 0 150px;
}
#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom:90px;
}
#blog .blog-box .blogimg{
    width: 50%;
    margin-right: 40px;
}
#blog img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}
#blog .blog-details{
    width: 50%;
    
}
#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
}
#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}
#blog .blog-details a:hover{

    background-color: rgb(10,01,98);
    color: #fff;
    transition: 0.3s;
}
#blog .blog-details a:hover::after{
    background-color:rgb(10,01,98);
    color: #fff;
}
#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -8;
}
#pageheader2 {
    background-image: url("img/blog/banner.png");
    width: 100%;
height: 40vh;
background-size: cover;
display: flex;
justify-content: center;
text-align: center;
flex-direction: column;
padding: 14px;
}
#pageheader2 h2,
#pageheader2 p{
    color: #fff;}
    #About-head img{
        width: 50%;
        height: auto;

    }
    #About-head{
        display: flex;
        align-items: center;}
        #About-head div{
            padding-left: 40px;
        }
        #AbtApp{
            text-align: center;
        }
        #AbtApp .video{
            width: 70%;
            height: 100%;
            margin: 30px auto 0 auto;
        }
        #AbtApp .video video{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
        #contact-details{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        #contact-details .details{
            width: 40%;
        }
        #contact-details .details span,
        #formDetails form span{
            font-size: 12px;
        }
        #contact-details .details h2,
        #formDetails form h2{
            font-size: 26px;
            line-height: 35px;
            padding: 20px 0;
        }
        #contact-details .details h3{
            font-size:16px;
          padding-bottom:15px;
        }
        #contact-details .details li{
            list-style: none;
            display: flex;
            padding: 10px 0;
        }
        #contact-details .details li i{
            font-size: 14px;
            padding-right: 22px;
        }
        #contact-details .details li p{
            margin: 0;
            font-size: 14px;
        }
        #contact-details .map{
            width: 55%;
        height: 400px;        }
        #contact-details .map iframe{
            width: 100%;
        height: 100%;        }
        #formDetails {
            display: flex;
            justify-content: space-between;
            margin: 30px;
            padding: 80px;
            border: 1px solid #e1e1e1;
        }
        #formDetails form{
            width: 65%;
            display: flex;
            flex-direction: column;

        }
        #formDetails form input,
        #formDetails form textarea
        {
            width: 100%;
            padding: 12px 15px;
            outline: none;
            margin-bottom: 20px;
            border: 1px solid #e1e1e1;
        } 
        #formDetails form button{
            background-color: rgb(10,01,98);
            color: #fff;
            width:15%;
            
            
        }
        #formDetails .people div{
            padding-bottom: 25px;
            display: flex;
            align-items: center;
        }
        #formDetails .people div img{
            width: 65px;
            height: 65px;
            object-fit: cover;
            margin-right: 15px;
        }
        #formDetails .people div p{
            color: gray;
        }
        #formDetails .people div p span{
            display: block;
            font-size: 16px;
            font-weight: 600;
            color: grey;
        }
        #cart table{
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;
            white-space: nowrap;
        }
        #cart table img{
            width: 70px;
        }
        #cart table td:nth-child(1){
            width: 100px;
            text-align: center;
        }
        #cart table td:nth-child(2){
            width: 150px;
            text-align: center;
        }
        #cart table td:nth-child(3){
            width: 250px;
            text-align: center;
        }
        #cart table td:nth-child(4),
        #cart table td:nth-child(5),
        #cart table td:nth-child(6){
            width: 150px;
            text-align: center;
        }
        #cart table td:nth-child(5) input{
            width: 70px;
            padding: 10px 5px 10px 15px;
        }
        #cart table thead{
            border: 1px solid #e2e9e1;
            border-left: none;
            border-right: none;
        }
        #cart table thead td{
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            padding: 18px 0;
        }
        #cart table tbody tr td{
padding-top: 15px;
        }
        #cart table tbody td{
            font-size: 13px;
        }
        #cartadd{
            display: flex;
            flex-wrap: wrap;
            justify-content:space-between;
        }
         #coupon{
            width: 50%;
            margin-bottom: 30px;
         }
         #coupon h3,
         #header #subtotal h3{
            padding-bottom: 15px;
         }
         #coupon input{
            padding: 10px 20px;
            outline: none;
            width: 60%;
            margin-right: 10px;
            border: 1px solid #e2e9e1;
         }
         #coupon button,
         #subtotal button{
            background-color: rgb(10,01,98);
            color: #fff;
            padding: 12px 20px;
         }
         #header #subtotal{
            width: 50%;
            margin: 30px;
            border: 1px solid #e2e9e1;
            padding: 30px;
         }
          #subtotal table{
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
         }
          #subtotal td{
            width: 50%;
            border: 1px solid #e2e9e1;
            padding: 10px;
        font-size: 13px;         }